# Sequesce types

Python knows a number of compound data types used to group together other values. There are three basic sequence types: `range`, `tuples`, and `lists` objects. Out of those, lists are mutable sequences while tuples and ranges are immutable sequences.
Additional sequence types tailored for processing of binary and text strings (str) also exist.

Sequences are `iterable` objects. This is: an object capable of returning its members one at a time.

## Common Sequence Operations

The operations in the following table are supported by most sequence types, both mutable and immutable.

| Operation | Result |
|:-|:-|
| x `in` s |True if an item of s is equal to x, else False      | 
| x not in s |False if an item of s is equal to x, else True      |
| s + t |the concatenation of s and t                        |
| s * n or n * s |equivalent to adding s to itself n times|
| s[1] |ith item of s, origin 0|
| s[i:j]|slice of s from i to j |
| s[i:j:k] |slice of s from i to j with step k|
| len(s)|length of s |
| min(s)|smallest item of s |
| max(s)|largest item of s |
| s.index(x[, i[, j]]) | index of the first occurrence of x in s (at or after index i and before index j) |
| s.count(x) | total number of occurrences of x in s |

## Range

The range type represents an immutable sequence of numbers. Ranges can be created using the range constructio function:

* range(stop)
* range(start, stop[, step])

Some sequence types (such as range) only support item sequences that follow specific patterns, and hence donâ€™t support sequence concatenation or repetition.

In [27]:
zero_to_9 = range(10)
zero_to_9[0], zero_to_9[9]

(0, 9)

In [9]:
r = range(1, 10, 2)
2 in r

False

In [17]:
r[2]

2

## Tuples

Tuples are immutable sequences that can be constructed in a number of ways:

* Using a pair of parentheses to denote the empty tuple: ()

* Using a trailing comma for a singleton tuple: a, or (a,)

* Separating items with commas: a, b, c or (a, b, c)

* Using the tuple() built-in: tuple() or tuple(iterable)

Elements in a tuple can be of any type.

In [9]:
t = (1, 2, 3, 'a')
t

(1, 2, 3, 'a')

In [10]:
t[:2]

(1, 2)

In [18]:
# create a tuple from an iterable (a range)
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
t = (1, 2) + (3, 'a')
t

(1, 2, 3, 'a')

Even when lists and tuples can contain values of different data types, this comes with a price and should be used with caution, see the next example:

In [6]:
# determining the minimum value implies comparing elements, str and int are not comparable, hence the error
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

## Lists

Lists may be constructed in several ways. 


* Using a pair of square brackets to denote the empty list: []

* Using square brackets, separating items with commas: [a], [a, b, c]

* Using a list comprehension: [x for x in iterable]

* Using the type constructor: list() or list(iterable)


Elements in a list can be of any type.

In [11]:
l = [1, 2, 3, 'a']
l

[1, 2, 3, 'a']

In [13]:
l[2:]

[3, 'a']

### List comprenhension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
The syntax is as follows:

`newlist = [expression for item in iterable if condition]`

In [7]:
# given a list of fruits 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# create a new list with the ones that contains 'a' in its name
a_fruits = [f for f in fruits if 'a' in f]

a_fruits

['apple', 'banana', 'mango']

In [28]:
#given a list of numbers
ns = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# create a list containing even numbers in ns to the power of 2
evens_powered = [n**2 for n in ns if n % 2 == 0]

evens_powered

[0, 4, 16, 36, 64]

## Mutable sequence operations

The operations in the following table are defined on mutable sequence types.

| Operation | Result |
|:-|:-|
| s[i] = x | item i of s is replaced by x | 
| s[i:j] = t | slice of s from i to j is replaced by the contents of the iterable t |
| del s[i:j] | same as s[i:j] = [] | 
| s[i:j:k] = t | the elements of s[i:j:k] are replaced by those of t |
| del s[i:j:k] | removes the elements of s[i:j:k] from the list |
| s.append(x) | appends x to the end of the sequence (same as s[len(s):len(s)] = [x]) |
| s.clear() | removes all items from s (same as del s[:]) |
| s.copy() | creates a shallow copy of s (same as s[:]) |
| s.extend(t) or s += t | extends s with the contents of t (for the most part the same as s[len(s):len(s)] = t) |
| s \*= n | updates s with its contents repeated n times |
| s.insert(i, x) | inserts x into s at the index given by i (same as s[i:i] = [x]) |
| s.pop() or s.pop(i) | retrieves the item at i and also removes it from s |
| s.remove(x) | remove the first item from s where s[i] is equal to x |
| s.reverse() | reverses the items of s in place |

In [34]:
lists = [[]] * 3
lists

[[], [], []]

Note that items in the sequence s are not copied; they are referenced multiple times. Consider:

In [35]:
lists[0].append(3)
lists

[[3], [3], [3]]

What has happened is that `[[]]` is a one-element list containing an empty list, so all three elements of `[[]] * 3` are references to this single empty list. Modifying any of the elements of lists modifies this single list. You can create a list of different lists this way:

In [37]:
lists = [[] for i in range(3)]
lists[0].append(3)
lists[1].append(5)
lists[2].append(7)
lists

[[3], [5], [7]]

In [38]:
lists += [[9], [11]]
lists

[[3], [5], [7], [9], [11]]